/* Ensure smooth scrolling and hide any horizontal overflow */
.contactpage {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

.contactbody:before {
  content: "";
  display: block;
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: -10;
  background: url("../images/Con_Front.jpg") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.contact-parallax {
  position: relative;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffead3;
}

@media (max-width: 768px) {
  .contactbody:before {
    content: "";
    display: block;
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    z-index: -10;
    background: url("../images/ConFrontLarge.jpg") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
}
