/* Ensure smooth scrolling and hide any horizontal overflow */
.gallerypage {
  overflow-x: hidden;
  scroll-behavior: smooth;
  background-color: #4a6741;
}

.page-header {
  height: 5vh;
  display: flex;
  justify-content: center;
}

.gallery-item {
  padding: 50px;
  height: 50vh;
}

.gallery-parallax {
  position: relative;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffead3;
}
