.homepage {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

.homebody:before {
  content: "";
  display: block;
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: -10;
  background: url("../images/Con_Side.jpg") no-repeat center center;
  /* -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover; */
  background-size: cover;
}

.image-section {
  position: relative;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffead3;
  text-shadow: -1px -1px 0 #4a6741, 1px -1px 0 #4a6741, -1px 1px 0 #4a6741,
    1px 1px 0 #4a6741;
}

.image-section h1,
.image-section h2 {
  border-radius: 8px;
  font-size: xx-large;
  text-align: center;
  font-weight: lighter;
}

.split-text {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

/* Each third takes equal space and centers its content */
.top-third,
.middle-third,
.bottom-third {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.top-third h1 {
  position: relative;
  display: inline-block;
  padding: 0 20px;
}

.top-third h1::before,
.top-third h1::after {
  content: "";
  position: absolute;
  top: 50%;
  width: 5%;
  height: 2px; /* Skinny line */
  background-color: #ffead3;
  border: 1px solid #4a6741; /* Skinny border line */
}

.green-section {
  height: 30vh;
  background-color: #4a6741; /* Green color */
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #ffead3;
}

@media (max-width: 768px) {
  .homebody:before {
    content: "";
    display: block;
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    z-index: -10;
    background: url("../images/ConSideLarge.jpg") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
}
