/* Ensure smooth scrolling and hide any horizontal overflow */
.recipepage {
  overflow-x: hidden;
  scroll-behavior: smooth;
  background-color: #4a6741;
}

.recipe-item {
  padding: 50px;
  height: 50vh;
}

.recipe-parallax {
  position: relative;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffead3;
}

@media (max-width: 768px) {
  /* Optionally adjust padding or font-size for mobile if desired */
}
